In [1]:
import pandas as pd
import numpy as np

In [2]:

df_oca=pd.read_excel('oca.xlsx',skiprows=2,skipfooter=23)

In [3]:
display(df_oca)

,Ano de exibição,Título da obra,CPB/ROE,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Empresa distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
0,2009,007 Quantum of Solace,E1402431200000,Ficção,"Estados Unidos, Inglaterra",Estrangeira,2008-11-07 00:00:00,Sony,Distribuição Internacional,8672,44151
1,2009,1983.. O Ano Azul,B0901024500000,Documentário,Brasil,Brasileira,2009-06-05 00:00:00,Prana Filmes,Distribuição Nacional,2313,23001.98
2,2009,2 Filhos de Francisco: A História de Zezé Di C...,B0500302600000,Ficção,Brasil,Brasileira,2005-08-19 00:00:00,Sony,Distribuição Internacional,75,225
3,2009,2012,E1600546500000,Ficção,Estados Unidos,Estrangeira,2009-11-13 00:00:00,Sony,Distribuição Internacional,5056558,42950999
4,2009,23 Anos em 7 Segundos: 1977 - O Fim do Jejum C...,B0901028800000,Documentário,Brasil,Brasileira,2009-06-26 00:00:00,Fox,Distribuição Internacional,1718,14936
...,...,...,...,...,...,...,...,...,...,...,...
7578,2020,Volume Morto,B2000101100000,Ficção,Brasil,Brasileira,2020-08-20 00:00:00,O2 Play,Distribuição Nacional,589,13078.16
7579,2020,Vou Nadar Até Você,B1900380000000,Ficção,Brasil,Brasileira,2020-03-05 00:00:00,Elo Company,Distribuição Nacional,1076,9206.2
7580,2020,Yesterday,E1900265700000,Ficção,Reino Unido,Estrangeira,2019-08-29 00:00:00,Universal,Distribuição Internacional,1529,45857.8
7581,2020,Yomeddine,E1800495100000,Ficção,"Áustria, Egito, Estados Unidos",Estrangeira,2019-03-07 00:00:00,Imovision,Distribuição Nacional,59,654
7582,2020,Zootopia: Essa Cidade É O Bicho,E1600038400000,Animação,Estados Unidos,Estrangeira,2016-03-17 00:00:00,Disney,Distribuição Internacional,292,2550.56

In [4]:
df_oca['Público no ano de exibição'].value_counts()

40        26
ND        25
6         23
5         21
14        21
          ..
377922     1
8097       1
195772     1
3222       1
1529       1
Name: Público no ano de exibição, Length: 5237, dtype: int64

In [5]:
df_oca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7583 entries, 0 to 7582
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ano de exibição                  7583 non-null   int64
 1   Título da obra                   7583 non-null   object
 2   CPB/ROE                          7583 non-null   object
 3   Gênero                           7583 non-null   object
 4   País(es) produtor(es) da obra    7583 non-null   object
 5   Nacionalidade da obra            7583 non-null   object
 6   Data de lançamento               7583 non-null   object
 7   Empresa distribuidora            7583 non-null   object
 8   Origem da empresa distribuidora  7583 non-null   object
 9   Público no ano de exibição       7583 non-null   object
 10  Renda (R$) no ano de exibição    7583 non-null   object
dtypes: int64(1), object(10)
memory usage: 651.8+ KB

In [6]:
df_oca['Data de lançamento'].value_counts()

Relançamento           207
2012-12-21 00:00:00     33
2015-12-03 00:00:00     33
2013-11-29 00:00:00     29
2018-11-15 00:00:00     29
                      ...
2015-06-06 00:00:00      1
2015-04-18 00:00:00      1
2015-11-01 00:00:00      1
2007-12-28 00:00:00      1
2021-07-22 00:00:00      1
Name: Data de lançamento, Length: 919, dtype: int64

In [7]:
df_oca.loc[df_oca['Data de lançamento']=='Relançamento'].head()

,Ano de exibição,Título da obra,CPB/ROE,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Empresa distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
10,2009,A agenda,E1600634500000,Ficção,França,Estrangeira,Relançamento,Imovision,Distribuição Nacional,33,154.5
248,2009,Fome de Viver,E1600228600000,Ficção,Reino Unido,Estrangeira,Relançamento,Filmes do Estação,Distribuição Nacional,268,944
426,2009,Os Contos de Canterbury,E1600589800000,Ficção,Itália,Estrangeira,Relançamento,Pandora Filmes,Distribuição Nacional,5026,29614
474,2009,Ratatouille,E1500365600000,Animação,Estados Unidos,Estrangeira,Relançamento,Sony,Distribuição Internacional,230,2300
506,2009,Sofá Cama,E1600624100000,Ficção,Argentina,Estrangeira,Relançamento,Panda Filmes,Distribuição Nacional,579,3529.6

In [8]:
df_oca['Data de lançamento']=pd.to_datetime(df_oca['Data de lançamento'],errors='coerce')

In [9]:
df_oca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7583 entries, 0 to 7582
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ano de exibição                  7583 non-null   int64
 1   Título da obra                   7583 non-null   object
 2   CPB/ROE                          7583 non-null   object
 3   Gênero                           7583 non-null   object
 4   País(es) produtor(es) da obra    7583 non-null   object
 5   Nacionalidade da obra            7583 non-null   object
 6   Data de lançamento               7376 non-null   datetime64[ns]
 7   Empresa distribuidora            7583 non-null   object
 8   Origem da empresa distribuidora  7583 non-null   object
 9   Público no ano de exibição       7583 non-null   object
 10  Renda (R$) no ano de exibição    7583 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 651.8+ KB

In [10]:
df_oca=df_oca.dropna(axis=0)

In [11]:
df_oca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7376 entries, 0 to 7582
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ano de exibição                  7376 non-null   int64
 1   Título da obra                   7376 non-null   object
 2   CPB/ROE                          7376 non-null   object
 3   Gênero                           7376 non-null   object
 4   País(es) produtor(es) da obra    7376 non-null   object
 5   Nacionalidade da obra            7376 non-null   object
 6   Data de lançamento               7376 non-null   datetime64[ns]
 7   Empresa distribuidora            7376 non-null   object
 8   Origem da empresa distribuidora  7376 non-null   object
 9   Público no ano de exibição       7376 non-null   object
 10  Renda (R$) no ano de exibição    7376 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 691.5+ KB

In [14]:
df_oca['Público no ano de exibição']=pd.to_numeric(df_oca['Público no ano de exibição'],errors='coerce')

In [15]:
df_oca['Renda (R$) no ano de exibição']=pd.to_numeric(df_oca['Renda (R$) no ano de exibição'],errors='coerce')

In [16]:
df_oca=df_oca.dropna(axis=0)
df_oca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7351 entries, 0 to 7582
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ano de exibição                  7351 non-null   int64
 1   Título da obra                   7351 non-null   object
 2   CPB/ROE                          7351 non-null   object
 3   Gênero                           7351 non-null   object
 4   País(es) produtor(es) da obra    7351 non-null   object
 5   Nacionalidade da obra            7351 non-null   object
 6   Data de lançamento               7351 non-null   datetime64[ns]
 7   Empresa distribuidora            7351 non-null   object
 8   Origem da empresa distribuidora  7351 non-null   object
 9   Público no ano de exibição       7351 non-null   float64
 10  Renda (R$) no ano de exibição    7351 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 689.2+ KB

In [17]:
import datetime as dt

In [35]:
df_oca['Ano de exibição'].value_counts()

2015    748
2016    727
2018    688
2017    678
2019    664
2014    637
2009    579
2013    559
2011    554
2020    509
2010    506
2012    502
Name: Ano de exibição, dtype: int64

In [45]:
teste1=pd.DataFrame(df_oca['Ano de exibição'].value_counts()).reset_index()

In [47]:
teste1.columns

Index(['index', 'Ano de exibição'], dtype='object')

In [51]:
teste1.sort_values(by='index',ascending=True)

    index  Ano de exibição
6    2009              579
10   2010              506
8    2011              554
11   2012              502
7    2013              559
5    2014              637
0    2015              748
1    2016              727
3    2017              678
2    2018              688
4    2019              664
9    2020              509

In [87]:
df_oca.sort_values(by='Renda (R$) no ano de exibição',ascending=False).head(1)

,Ano de exibição,Título da obra,CPB/ROE,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Empresa distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
7048,2019,Vingadores: Ultimato,E1900107800000,Ficção,Estados Unidos,Estrangeira,2019-04-25,Disney,Distribuição Internacional,19656467.0,338624881.0

In [88]:
df_oca.loc[df_oca['Renda (R$) no ano de exibição']==df_oca['Renda (R$) no ano de exibição'].max()]

,Ano de exibição,Título da obra,CPB/ROE,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Empresa distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
7048,2019,Vingadores: Ultimato,E1900107800000,Ficção,Estados Unidos,Estrangeira,2019-04-25,Disney,Distribuição Internacional,19656467.0,338624881.0

In [89]:
df_oca.sort_values(by='Renda (R$) no ano de exibição',ascending=False).head(5)

,Ano de exibição,Título da obra,CPB/ROE,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Empresa distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
7048,2019,Vingadores: Ultimato,E1900107800000,Ficção,Estados Unidos,Estrangeira,2019-04-25,Disney,Distribuição Internacional,19656467.0,3.386249e+08
6860,2019,O Rei Leão,E1900267700000,Ficção,Estados Unidos,Estrangeira,2019-07-18,Disney,Distribuição Internacional,16242804.0,2.657870e+08
6379,2018,Vingadores: Guerra Infinita,E1800067100000,Ficção,Estados Unidos,Estrangeira,2018-04-26,Disney,Distribuição Internacional,14501280.0,2.380202e+08
6572,2019,Coringa,E1900357300000,Ficção,"Canadá, Estados Unidos",Estrangeira,2019-10-03,Warner,Distribuição Internacional,9746334.0,1.567868e+08
6544,2019,Capitã Marvel,E1900011200000,Ficção,Estados Unidos,Estrangeira,2019-03-07,Disney,Distribuição Internacional,8991777.0,1.467593e+08

In [98]:
df_teste=df_oca.sort_values(by='Renda (R$) no ano de exibição',ascending=False)

In [110]:
display(df_teste.iloc[0:3])

,Ano de exibição,Título da obra,CPB/ROE,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Empresa distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
7048,2019,Vingadores: Ultimato,E1900107800000,Ficção,Estados Unidos,Estrangeira,2019-04-25,Disney,Distribuição Internacional,19656467.0,338624881.0
6860,2019,O Rei Leão,E1900267700000,Ficção,Estados Unidos,Estrangeira,2019-07-18,Disney,Distribuição Internacional,16242804.0,265786968.0
6379,2018,Vingadores: Guerra Infinita,E1800067100000,Ficção,Estados Unidos,Estrangeira,2018-04-26,Disney,Distribuição Internacional,14501280.0,238020232.0