In [1]:
# Importando bibliotecas
import pandas as pd
import numpy as np

In [2]:
# Importando base de dados
df_churn = pd.read_excel('Case_Churn.xlsx')

In [3]:
display(df_churn)

,ClientId,DataExtracao,Score_Credito,Estado,Gênero,Idade,Tempo_Cliente,Limite_Credito_Mercado,Qte_Categorias,Usa_Cartao_Credito,Programa_Fidelidade,Sum_Pedidos_Acumulados,DataUltimaTransacao
0,345568,2019-06-30,619,São Paulo,Feminino,42,2,0.0000,1,1,1,422.287000,2019-09-14
1,345569,2019-06-30,608,Rio de Janeiro,Feminino,41,1,838.0786,1,0,1,468.927417,2019-10-05
2,345570,2019-06-30,502,São Paulo,Feminino,42,8,1596.6080,3,1,0,474.714875,2019-08-20
3,345571,2019-06-30,699,São Paulo,Feminino,39,1,0.0000,2,0,0,390.944292,2019-10-21
4,345572,2019-06-30,850,Rio de Janeiro,Feminino,43,2,1255.1082,1,1,1,329.517083,2019-10-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,355563,2019-06-30,771,São Paulo,Masculino,39,5,0.0000,2,1,0,401.127667,2019-10-05
9996,355564,2019-06-30,516,São Paulo,Masculino,35,10,573.6961,1,1,1,423.749042,2019-10-06
9997,355565,2019-06-30,709,São Paulo,Feminino,36,7,0.0000,1,0,1,175.356583,2019-07-21
9998,355566,2019-06-30,772,Minas Gerais,Masculino,42,3,750.7531,2,1,0,387.035500,2019-08-19
9999,355567,2019-06-30,792,São Paulo,Feminino,28,4,1301.4279,1,1,0,159.128250,2019-10-17

In [90]:
# Verificando se há valores Vazios
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ClientId                10000 non-null  int64
 1   DataExtracao            10000 non-null  datetime64[ns]
 2   Score_Credito           10000 non-null  int64
 3   Estado                  10000 non-null  object
 4   Gênero                  10000 non-null  object
 5   Idade                   10000 non-null  int64
 6   Tempo_Cliente           10000 non-null  int64
 7   Limite_Credito_Mercado  10000 non-null  float64
 8   Qte_Categorias          10000 non-null  int64
 9   Usa_Cartao_Credito      10000 non-null  int64
 10  Programa_Fidelidade     10000 non-null  int64
 11  Sum_Pedidos_Acumulados  10000 non-null  float64
 12  DataUltimaTransacao     10000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(7), object(2)
memory usage: 1015.8+ KB

In [4]:
# Verificando se há Clientes ID Duplicados
df_churn['ClientId'].nunique()

10000

In [5]:
# Importando biblioteca para manipulação de datas
import datetime

In [6]:
# Criando data referência (dia ques esta sendo feito a análise)
data_analise=datetime.date(2019,10,30)

In [7]:
# Criando coluna com diferença entre a data de "hoje" e data da última compra
df_churn['dias_inativos']=pd.to_datetime(data_analise)-df_churn['DataUltimaTransacao']

In [8]:
# Verificando criação das colunas
display(df_churn)
df_churn.info()

,ClientId,DataExtracao,Score_Credito,Estado,Gênero,Idade,Tempo_Cliente,Limite_Credito_Mercado,Qte_Categorias,Usa_Cartao_Credito,Programa_Fidelidade,Sum_Pedidos_Acumulados,DataUltimaTransacao,dias_inativos
0,345568,2019-06-30,619,São Paulo,Feminino,42,2,0.0000,1,1,1,422.287000,2019-09-14,46 days
1,345569,2019-06-30,608,Rio de Janeiro,Feminino,41,1,838.0786,1,0,1,468.927417,2019-10-05,25 days
2,345570,2019-06-30,502,São Paulo,Feminino,42,8,1596.6080,3,1,0,474.714875,2019-08-20,71 days
3,345571,2019-06-30,699,São Paulo,Feminino,39,1,0.0000,2,0,0,390.944292,2019-10-21,9 days
4,345572,2019-06-30,850,Rio de Janeiro,Feminino,43,2,1255.1082,1,1,1,329.517083,2019-10-26,4 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,355563,2019-06-30,771,São Paulo,Masculino,39,5,0.0000,2,1,0,401.127667,2019-10-05,25 days
9996,355564,2019-06-30,516,São Paulo,Masculino,35,10,573.6961,1,1,1,423.749042,2019-10-06,24 days
9997,355565,2019-06-30,709,São Paulo,Feminino,36,7,0.0000,1,0,1,175.356583,2019-07-21,101 days
9998,355566,2019-06-30,772,Minas Gerais,Masculino,42,3,750.7531,2,1,0,387.035500,2019-08-19,72 days
9999,355567,2019-06-30,792,São Paulo,Feminino,28,4,1301.4279,1,1,0,159.128250,2019-10-17,13 days

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ClientId                10000 non-null  int64
 1   DataExtracao            10000 non-null  datetime64[ns]
 2   Score_Credito           10000 non-null  int64
 3   Estado                  10000 non-null  object
 4   Gênero                  10000 non-null  object
 5   Idade                   10000 non-null  int64
 6   Tempo_Cliente           10000 non-null  int64
 7   Limite_Credito_Mercado  10000 non-null  float64
 8   Qte_Categorias          10000 non-null  int64
 9   Usa_Cartao_Credito      10000 non-null  int64
 10  Programa_Fidelidade     10000 non-null  int64
 11  Sum_Pedidos_Acumulados  10000 non-null  float64
 12  DataUltimaTransacao     10000 non-null  datetime64[ns]
 13  dias_inativos           10000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), int64(7), object(2), timedelta64[ns](1)
memory usage: 1.1+ MB

In [9]:
# Criando coluna "Cliente_Ativo", caso a última compra do cliente tenha sido a mais de 30 dias, ele será considerado cliente inativo
df_churn['cliente_ativo']=np.where(df_churn['dias_inativos']>datetime.timedelta(days=30),1,0)
# 0 = Ativo
# 1 = Inativo

In [10]:
# Criando coluna "Tem_Limite_Credito", caso o limite de mercado seja maior que "0", ele tem limite de crédito
df_churn['tem_limite_credito']=np.where(df_churn['Limite_Credito_Mercado']>0,1,0)
# 0 = não tem limite de credito
# 1 = tem limite de credito

In [11]:
# Criando faxias de Idade
# 1º passo - criar lista com os valores que vão ser nosso divisores de faixas
classe_idade = [0,10,20,30,40,50,60,70,100] 
# 2º passo - criar lista com as faixas
labels_idade = ['0 a 10','11 a 20','21 a 30','31 a 40','41 a 50','51 a 60','61 a 70','71 a 100']
# 3º passo - criar coluna no 'df'
df_churn['faixa_etaria']=pd.cut(x=df_churn['Idade'],bins=classe_idade,labels=labels_idade)

# Criando faxias de Score
classe_score = [0,449,549,649,749,850]
labels_score = ['350 a 449','450 a 549','550 a 649','650 a 749','750 a 850']
df_churn['faixa_score']=pd.cut(x=df_churn['Score_Credito'],bins=classe_score,labels=labels_score)

# Criando faxias de Limite de Crédito
classe_limite = [-1,0,500,1000,1500,2000,20000]
labels_limite = ['0','1 a 500','501 a 1000','1001 a 1500','1501 a 2000','+2000']
df_churn['faixa_limite']=pd.cut(x=df_churn['Limite_Credito_Mercado'],bins=classe_limite,labels=labels_limite)

# Criando faxias de Total de pedidos
classe_total_pedido = [0,150,300,450,600,750,900]
labels_total_pedido = ['0 a 150','151 a 300','301 a 450','451 a 600','601 a 750','751 a 900']
df_churn['total_pedido']=pd.cut(x=df_churn['Sum_Pedidos_Acumulados'],bins=classe_total_pedido,labels=labels_total_pedido)

# VIsualizando criação das colunas "Faixas"
display(df_churn)

,ClientId,DataExtracao,Score_Credito,Estado,Gênero,Idade,Tempo_Cliente,Limite_Credito_Mercado,Qte_Categorias,Usa_Cartao_Credito,Programa_Fidelidade,Sum_Pedidos_Acumulados,DataUltimaTransacao,dias_inativos,cliente_ativo,tem_limite_credito,faixa_etaria,faixa_score,faixa_limite,total_pedido
0,345568,2019-06-30,619,São Paulo,Feminino,42,2,0.0000,1,1,1,422.287000,2019-09-14,46 days,1,0,41 a 50,550 a 649,0,301 a 450
1,345569,2019-06-30,608,Rio de Janeiro,Feminino,41,1,838.0786,1,0,1,468.927417,2019-10-05,25 days,0,1,41 a 50,550 a 649,501 a 1000,451 a 600
2,345570,2019-06-30,502,São Paulo,Feminino,42,8,1596.6080,3,1,0,474.714875,2019-08-20,71 days,1,1,41 a 50,450 a 549,1501 a 2000,451 a 600
3,345571,2019-06-30,699,São Paulo,Feminino,39,1,0.0000,2,0,0,390.944292,2019-10-21,9 days,0,0,31 a 40,650 a 749,0,301 a 450
4,345572,2019-06-30,850,Rio de Janeiro,Feminino,43,2,1255.1082,1,1,1,329.517083,2019-10-26,4 days,0,1,41 a 50,750 a 850,1001 a 1500,301 a 450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,355563,2019-06-30,771,São Paulo,Masculino,39,5,0.0000,2,1,0,401.127667,2019-10-05,25 days,0,0,31 a 40,750 a 850,0,301 a 450
9996,355564,2019-06-30,516,São Paulo,Masculino,35,10,573.6961,1,1,1,423.749042,2019-10-06,24 days,0,1,31 a 40,450 a 549,501 a 1000,301 a 450
9997,355565,2019-06-30,709,São Paulo,Feminino,36,7,0.0000,1,0,1,175.356583,2019-07-21,101 days,1,0,31 a 40,650 a 749,0,151 a 300
9998,355566,2019-06-30,772,Minas Gerais,Masculino,42,3,750.7531,2,1,0,387.035500,2019-08-19,72 days,1,1,41 a 50,750 a 850,501 a 1000,301 a 450
9999,355567,2019-06-30,792,São Paulo,Feminino,28,4,1301.4279,1,1,0,159.128250,2019-10-17,13 days,0,1,21 a 30,750 a 850,1001 a 1500,151 a 300

In [12]:
# Verificando Taxa de Churn através da média da coluna "Cliente Ativo"
Tx_Churn = df_churn['cliente_ativo'].mean()
print(Tx_Churn)

0.2013

In [13]:
# Criando tabelas dinâmicas, onde relacionei todas variáveis qualitativas com o fato do cliente ser ativo ou não
df_gb_cred=pd.DataFrame(df_churn.pivot_table(index='Usa_Cartao_Credito',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_estado=pd.DataFrame(df_churn.pivot_table(index='Estado',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_genero=pd.DataFrame(df_churn.pivot_table(index='Gênero',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_tempo=pd.DataFrame(df_churn.pivot_table(index='Tempo_Cliente',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_categoria=pd.DataFrame(df_churn.pivot_table(index='Qte_Categorias',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_fidelidade=pd.DataFrame(df_churn.pivot_table(index='Programa_Fidelidade',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_credito_mercado=pd.DataFrame(df_churn.pivot_table(index='tem_limite_credito',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_faixa_etaria=pd.DataFrame(df_churn.pivot_table(index='faixa_etaria',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_faixa_score=pd.DataFrame(df_churn.pivot_table(index='faixa_score',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_faixa_limite=pd.DataFrame(df_churn.pivot_table(index='faixa_limite',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))
df_gb_faixa_total_pedido=pd.DataFrame(df_churn.pivot_table(index='total_pedido',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))

In [14]:
# Criei uma função para criar as colunas "Frequência Relativa","Frequência Absoluta" e "Churn" nas tabelas dinâmicas
# Variáveis de entrada da função "Variável qualitativa" e o nome do dataframe
def tab_freq(variavel,nome):

    nome['freq_rel_0']=nome[('cliente_ativo', 0)]/nome[('cliente_ativo', 0)].sum()
    nome['freq_rel_1']=nome[('cliente_ativo', 1)]/nome[('cliente_ativo', 1)].sum()
    nome['freq_total_abs']=nome[('cliente_ativo', 1)]+nome[('cliente_ativo', 0)]
    nome['freq_total_rel']=nome['freq_total_abs']/nome['freq_total_abs'].sum()
    nome['Churn']=nome[('cliente_ativo', 1)]/nome['freq_total_abs']
    display(nome)

In [15]:
# Executando a função criada 
tab_freq('Usa_Cartao_Credito',df_gb_cred)
tab_freq('Estado', df_gb_estado)
tab_freq('Gênero', df_gb_genero)
tab_freq('Tempo_Cliente', df_gb_tempo)
tab_freq('Qte_Categorias', df_gb_categoria)
tab_freq('Programa_Fidelidade', df_gb_fidelidade)
tab_freq('tem_limite_credito', df_gb_credito_mercado)
tab_freq('faixa_etaria', df_gb_faixa_etaria)
tab_freq('faixa_score', df_gb_faixa_score)
tab_freq('faixa_limite', df_gb_faixa_limite)
tab_freq('total_pedido',df_gb_faixa_total_pedido)

                   cliente_ativo       freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo                  0     1
Usa_Cartao_Credito
0                           2341   604   0.293101    0.30005           2945
1                           5646  1409   0.706899    0.69995           7055

                   freq_total_rel     Churn
cliente_ativo
Usa_Cartao_Credito
0                          0.2945  0.205093
1                          0.7055  0.199717

               cliente_ativo      freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo              0    1
Estado
Minas Gerais            1705  804   0.213472   0.399404           2509
Rio de Janeiro          2070  407   0.259171   0.202186           2477
São Paulo               4212  802   0.527357   0.398410           5014

               freq_total_rel     Churn
cliente_ativo
Estado
Minas Gerais           0.2509  0.320446
Rio de Janeiro         0.2477  0.164312
São Paulo              0.5014  0.159952

              cliente_ativo       freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo             0     1
Gênero
Feminino               3412  1131   0.427194   0.561848           4543
Masculino              4575   882   0.572806   0.438152           5457

              freq_total_rel     Churn
cliente_ativo
Gênero
Feminino              0.4543  0.248954
Masculino             0.5457  0.161627

              cliente_ativo      freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo             0    1
Tempo_Cliente
0                       318   95   0.039815   0.047193            413
1                       805  230   0.100789   0.114257           1035
2                       849  199   0.106298   0.098857           1048
3                       802  207   0.100413   0.102832           1009
4                       789  200   0.098786   0.099354            989
5                       806  206   0.100914   0.102335           1012
6                       773  194   0.096782   0.096374            967
7                       852  176   0.106673   0.087432           1028
8                       833  192   0.104294   0.095380           1025
9                       771  213   0.096532   0.105812            984
10                      389  101   0.048704   0.050174            490

              freq_total_rel     Churn
cliente_ativo
Tempo_Cliente
0                     0.0413  0.230024
1                     0.1035  0.222222
2                     0.1048  0.189885
3                     0.1009  0.205154
4                     0.0989  0.202224
5                     0.1012  0.203557
6                     0.0967  0.200620
7                     0.1028  0.171206
8                     0.1025  0.187317
9                     0.0984  0.216463
10                    0.0490  0.206122

               cliente_ativo       freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo              0     1
Qte_Categorias
1                       3689  1395   0.461876   0.692996           5084
2                       4247   343   0.531739   0.170392           4590
3                         49   217   0.006135   0.107799            266
4                          2    58   0.000250   0.028813             60

               freq_total_rel     Churn
cliente_ativo
Qte_Categorias
1                      0.5084  0.274390
2                      0.4590  0.074728
3                      0.0266  0.815789
4                      0.0060  0.966667

                    cliente_ativo       freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo                   0     1
Programa_Fidelidade
0                            3563  1286     0.4461   0.638847           4849
1                            4424   727     0.5539   0.361153           5151

                    freq_total_rel     Churn
cliente_ativo
Programa_Fidelidade
0                           0.4849  0.265209
1                           0.5151  0.141138

                   cliente_ativo       freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo                  0     1
tem_limite_credito
0                           3121   496    0.39076   0.246398           3617
1                           4866  1517    0.60924   0.753602           6383

                   freq_total_rel     Churn
cliente_ativo
tem_limite_credito
0                          0.3617  0.137130
1                          0.6383  0.237663

              cliente_ativo      freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo             0    1
faixa_etaria
0 a 10                    0    0   0.000000   0.000000              0
11 a 20                  84    5   0.010517   0.002484             89
21 a 30                1738  141   0.217604   0.070045           1879
31 a 40                3917  534   0.490422   0.265276           4451
41 a 50                1545  775   0.193439   0.384998           2320
51 a 60                 354  443   0.044322   0.220070            797
61 a 70                 227  104   0.028421   0.051664            331
71 a 100                122   11   0.015275   0.005464            133

              freq_total_rel     Churn
cliente_ativo
faixa_etaria
0 a 10                0.0000       NaN
11 a 20               0.0089  0.056180
21 a 30               0.1879  0.075040
31 a 40               0.4451  0.119973
41 a 50               0.2320  0.334052
51 a 60               0.0797  0.555834
61 a 70               0.0331  0.314199
71 a 100              0.0133  0.082707

              cliente_ativo      freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo             0    1
faixa_score
350 a 449               125   60   0.015650   0.029806            185
450 a 549              1107  298   0.138600   0.148038           1405
550 a 649              2627  683   0.328909   0.339295           3310
650 a 749              2820  657   0.353074   0.326379           3477
750 a 850              1308  315   0.163766   0.156483           1623

              freq_total_rel     Churn
cliente_ativo
faixa_score
350 a 449             0.0185  0.324324
450 a 549             0.1405  0.212100
550 a 649             0.3310  0.206344
650 a 749             0.3477  0.188956
750 a 850             0.1623  0.194085

              cliente_ativo      freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo             0    1
faixa_limite
0                      3121  496   0.390760   0.246398           3617
1 a 500                  50   25   0.006260   0.012419             75
501 a 1000             1212  297   0.151747   0.147541           1509
1001 a 1500            2856  974   0.357581   0.483855           3830
1501 a 2000             733  202   0.091774   0.100348            935
+2000                    15   19   0.001878   0.009439             34

              freq_total_rel     Churn
cliente_ativo
faixa_limite
0                     0.3617  0.137130
1 a 500               0.0075  0.333333
501 a 1000            0.1509  0.196819
1001 a 1500           0.3830  0.254308
1501 a 2000           0.0935  0.216043
+2000                 0.0034  0.558824

              cliente_ativo      freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo             0    1
total_pedido
0 a 150                1409  359   0.176412   0.178341           1768
151 a 300              1449  347   0.181420   0.172380           1796
301 a 450              1506  354   0.188556   0.175857           1860
451 a 600              1441  371   0.180418   0.184302           1812
601 a 750              1400  379   0.175285   0.188276           1779
751 a 900               782  203   0.097909   0.100845            985

              freq_total_rel     Churn
cliente_ativo
total_pedido
0 a 150               0.1768  0.203054
151 a 300             0.1796  0.193207
301 a 450             0.1860  0.190323
451 a 600             0.1812  0.204746
601 a 750             0.1779  0.213041
751 a 900             0.0985  0.206091

In [16]:
# Criando uma coluna "Variavel" com uma string referente a variável em análise
df_gb_cred['Variavel']='Cred'
df_gb_estado['Variavel']='Estado'
df_gb_genero['Variavel']='Genero'
df_gb_tempo['Variavel']='Tempo'
df_gb_categoria['Variavel']='Categoria'
df_gb_fidelidade['Variavel']='Fidelidade'
df_gb_credito_mercado['Variavel']='Tem_Credito'
df_gb_faixa_etaria['Variavel']='Faixa_Estaria'
df_gb_faixa_score['Variavel']='Faixa_Score'
df_gb_faixa_limite['Variavel']='Faixa_Limite'
df_gb_faixa_total_pedido['Variavel']='Faixa_Total_Pedido'

In [17]:
# Criando um DF com todas as tabelas dinâmicas criadas e ordenando (DESC) pelo "Churn"
# com objetivo de verificar quais variáveis tem maior tx Churn
df=pd.DataFrame()
df=df.append([df_gb_cred, df_gb_estado, df_gb_genero,df_gb_tempo,df_gb_categoria,df_gb_fidelidade,df_gb_credito_mercado,df_gb_faixa_etaria,df_gb_faixa_score,df_gb_faixa_limite,df_gb_faixa_total_pedido])
df=df.sort_values(by='Churn', ascending=True)
display(df)

C:\Users\unknow user\AppData\Local\Temp\ipykernel_11980\3301741600.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append([df_gb_cred, df_gb_estado, df_gb_genero,df_gb_tempo,df_gb_categoria,df_gb_fidelidade,df_gb_credito_mercado,df_gb_faixa_etaria,df_gb_faixa_score,df_gb_faixa_limite,df_gb_faixa_total_pedido])

               cliente_ativo       freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo              0     1
11 a 20                   84     5   0.010517   0.002484             89
2                       4247   343   0.531739   0.170392           4590
21 a 30                 1738   141   0.217604   0.070045           1879
71 a 100                 122    11   0.015275   0.005464            133
31 a 40                 3917   534   0.490422   0.265276           4451
0                       3121   496   0.390760   0.246398           3617
0                       3121   496   0.390760   0.246398           3617
1                       4424   727   0.553900   0.361153           5151
São Paulo               4212   802   0.527357   0.398410           5014
Masculino               4575   882   0.572806   0.438152           5457
Rio de Janeiro          2070   407   0.259171   0.202186           2477
7                        852   176   0.106673   0.087432           1028
8                        833   192   0.104294   0.095380           1025
650 a 749               2820   657   0.353074   0.326379           3477
2                        849   199   0.106298   0.098857           1048
301 a 450               1506   354   0.188556   0.175857           1860
151 a 300               1449   347   0.181420   0.172380           1796
750 a 850               1308   315   0.163766   0.156483           1623
501 a 1000              1212   297   0.151747   0.147541           1509
1                       5646  1409   0.706899   0.699950           7055
6                        773   194   0.096782   0.096374            967
4                        789   200   0.098786   0.099354            989
0 a 150                 1409   359   0.176412   0.178341           1768
5                        806   206   0.100914   0.102335           1012
451 a 600               1441   371   0.180418   0.184302           1812
0                       2341   604   0.293101   0.300050           2945
3                        802   207   0.100413   0.102832           1009
751 a 900                782   203   0.097909   0.100845            985
10                       389   101   0.048704   0.050174            490
550 a 649               2627   683   0.328909   0.339295           3310
450 a 549               1107   298   0.138600   0.148038           1405
601 a 750               1400   379   0.175285   0.188276           1779
1501 a 2000              733   202   0.091774   0.100348            935
9                        771   213   0.096532   0.105812            984
1                        805   230   0.100789   0.114257           1035
0                        318    95   0.039815   0.047193            413
1                       4866  1517   0.609240   0.753602           6383
Feminino                3412  1131   0.427194   0.561848           4543
1001 a 1500             2856   974   0.357581   0.483855           3830
0                       3563  1286   0.446100   0.638847           4849
1                       3689  1395   0.461876   0.692996           5084
61 a 70                  227   104   0.028421   0.051664            331
Minas Gerais            1705   804   0.213472   0.399404           2509
350 a 449                125    60   0.015650   0.029806            185
1 a 500                   50    25   0.006260   0.012419             75
41 a 50                 1545   775   0.193439   0.384998           2320
51 a 60                  354   443   0.044322   0.220070            797
+2000                     15    19   0.001878   0.009439             34
3                         49   217   0.006135   0.107799            266
4                          2    58   0.000250   0.028813             60
0 a 10                     0     0   0.000000   0.000000              0

               freq_total_rel     Churn            Variavel
cliente_ativo
11 a 20                0.0089  0.056180       Faixa_Estaria
2                      0.4590  0.074728           Categoria
21 a 30                0.1879  0.075040       Faixa_Estaria
71 a 100               0.0133  0.082707       Faixa_Estaria
31 a 40                0.4451  0.119973       Faixa_Estaria
0                      0.3617  0.137130        Faixa_Limite
0                      0.3617  0.137130         Tem_Credito
1                      0.5151  0.141138          Fidelidade
São Paulo              0.5014  0.159952              Estado
Masculino              0.5457  0.161627              Genero
Rio de Janeiro         0.2477  0.164312              Estado
7                      0.1028  0.171206               Tempo
8                      0.1025  0.187317               Tempo
650 a 749              0.3477  0.188956         Faixa_Score
2                      0.1048  0.189885               Tempo
301 a 450              0.1860  0.190323  Faixa_Total_Pedido
151 a 300              0.1796  0.193207  Faixa_Total_Pedido
750 a 850              0.1623  0.194085         Faixa_Score
501 a 1000             0.1509  0.196819        Faixa_Limite
1                      0.7055  0.199717                Cred
6                      0.0967  0.200620               Tempo
4                      0.0989  0.202224               Tempo
0 a 150                0.1768  0.203054  Faixa_Total_Pedido
5                      0.1012  0.203557               Tempo
451 a 600              0.1812  0.204746  Faixa_Total_Pedido
0                      0.2945  0.205093                Cred
3                      0.1009  0.205154               Tempo
751 a 900              0.0985  0.206091  Faixa_Total_Pedido
10                     0.0490  0.206122               Tempo
550 a 649              0.3310  0.206344         Faixa_Score
450 a 549              0.1405  0.212100         Faixa_Score
601 a 750              0.1779  0.213041  Faixa_Total_Pedido
1501 a 2000            0.0935  0.216043        Faixa_Limite
9                      0.0984  0.216463               Tempo
1                      0.1035  0.222222               Tempo
0                      0.0413  0.230024               Tempo
1                      0.6383  0.237663         Tem_Credito
Feminino               0.4543  0.248954              Genero
1001 a 1500            0.3830  0.254308        Faixa_Limite
0                      0.4849  0.265209          Fidelidade
1                      0.5084  0.274390           Categoria
61 a 70                0.0331  0.314199       Faixa_Estaria
Minas Gerais           0.2509  0.320446              Estado
350 a 449              0.0185  0.324324         Faixa_Score
1 a 500                0.0075  0.333333        Faixa_Limite
41 a 50                0.2320  0.334052       Faixa_Estaria
51 a 60                0.0797  0.555834       Faixa_Estaria
+2000                  0.0034  0.558824        Faixa_Limite
3                      0.0266  0.815789           Categoria
4                      0.0060  0.966667           Categoria
0 a 10                 0.0000       NaN       Faixa_Estaria

In [18]:
# Visualizando as 5 categorias com maior Churn
df.head(5)

              cliente_ativo      freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo             0    1
11 a 20                  84    5   0.010517   0.002484             89
2                      4247  343   0.531739   0.170392           4590
21 a 30                1738  141   0.217604   0.070045           1879
71 a 100                122   11   0.015275   0.005464            133
31 a 40                3917  534   0.490422   0.265276           4451

              freq_total_rel     Churn       Variavel
cliente_ativo
11 a 20               0.0089  0.056180  Faixa_Estaria
2                     0.4590  0.074728      Categoria
21 a 30               0.1879  0.075040  Faixa_Estaria
71 a 100              0.0133  0.082707  Faixa_Estaria
31 a 40               0.4451  0.119973  Faixa_Estaria

In [19]:
# Visualizando as 5 categorias com menor Churn
df.tail(5)

              cliente_ativo      freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo             0    1
51 a 60                 354  443   0.044322   0.220070            797
+2000                    15   19   0.001878   0.009439             34
3                        49  217   0.006135   0.107799            266
4                         2   58   0.000250   0.028813             60
0 a 10                    0    0   0.000000   0.000000              0

              freq_total_rel     Churn       Variavel
cliente_ativo
51 a 60               0.0797  0.555834  Faixa_Estaria
+2000                 0.0034  0.558824   Faixa_Limite
3                     0.0266  0.815789      Categoria
4                     0.0060  0.966667      Categoria
0 a 10                0.0000       NaN  Faixa_Estaria

In [20]:
# Criando uma coluna de "Perfil":
# Padrão - O restante dos perfis
# Perfil Alto Churn: Idade>40 / Limite de crédito > 1000 / não tem programa de fidelidade
#Perfil Baixo Churn: Idade<40 / Não tem limite de cartão / tem programa de fidelidade
df_churn['Perfil']=np.where((df_churn['Idade']<40) & (df_churn['tem_limite_credito']==0) & (df_churn['Programa_Fidelidade']==1),'Perfil_Churn_Baixo',np.where((df_churn['Idade']>40) & (df_churn['Limite_Credito_Mercado']>1000) & (df_churn['Programa_Fidelidade']==0),'Perfil_Churn_Alto','Padrão'))

In [21]:
display(df_churn)

,ClientId,DataExtracao,Score_Credito,Estado,Gênero,Idade,Tempo_Cliente,Limite_Credito_Mercado,Qte_Categorias,Usa_Cartao_Credito,...,Sum_Pedidos_Acumulados,DataUltimaTransacao,dias_inativos,cliente_ativo,tem_limite_credito,faixa_etaria,faixa_score,faixa_limite,total_pedido,Perfil
0,345568,2019-06-30,619,São Paulo,Feminino,42,2,0.0000,1,1,...,422.287000,2019-09-14,46 days,1,0,41 a 50,550 a 649,0,301 a 450,Padrão
1,345569,2019-06-30,608,Rio de Janeiro,Feminino,41,1,838.0786,1,0,...,468.927417,2019-10-05,25 days,0,1,41 a 50,550 a 649,501 a 1000,451 a 600,Padrão
2,345570,2019-06-30,502,São Paulo,Feminino,42,8,1596.6080,3,1,...,474.714875,2019-08-20,71 days,1,1,41 a 50,450 a 549,1501 a 2000,451 a 600,Perfil_Churn_Alto
3,345571,2019-06-30,699,São Paulo,Feminino,39,1,0.0000,2,0,...,390.944292,2019-10-21,9 days,0,0,31 a 40,650 a 749,0,301 a 450,Padrão
4,345572,2019-06-30,850,Rio de Janeiro,Feminino,43,2,1255.1082,1,1,...,329.517083,2019-10-26,4 days,0,1,41 a 50,750 a 850,1001 a 1500,301 a 450,Padrão
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,355563,2019-06-30,771,São Paulo,Masculino,39,5,0.0000,2,1,...,401.127667,2019-10-05,25 days,0,0,31 a 40,750 a 850,0,301 a 450,Padrão
9996,355564,2019-06-30,516,São Paulo,Masculino,35,10,573.6961,1,1,...,423.749042,2019-10-06,24 days,0,1,31 a 40,450 a 549,501 a 1000,301 a 450,Padrão
9997,355565,2019-06-30,709,São Paulo,Feminino,36,7,0.0000,1,0,...,175.356583,2019-07-21,101 days,1,0,31 a 40,650 a 749,0,151 a 300,Perfil_Churn_Baixo
9998,355566,2019-06-30,772,Minas Gerais,Masculino,42,3,750.7531,2,1,...,387.035500,2019-08-19,72 days,1,1,41 a 50,750 a 850,501 a 1000,301 a 450,Padrão
9999,355567,2019-06-30,792,São Paulo,Feminino,28,4,1301.4279,1,1,...,159.128250,2019-10-17,13 days,0,1,21 a 30,750 a 850,1001 a 1500,151 a 300,Padrão

In [23]:
# Quantificando os tipos de perfis
df_churn['Perfil'].value_counts()

Padrão                8023
Perfil_Churn_Baixo    1115
Perfil_Churn_Alto      862
Name: Perfil, dtype: int64

In [32]:
# Criando tabel dinâmica, para verificar qual o churn por perfil
df_perfil=pd.DataFrame(df_churn.pivot_table(index='Perfil',columns='cliente_ativo',aggfunc={'cliente_ativo':'count'}))

In [33]:
tab_freq('Perfil',df_perfil)

                   cliente_ativo       freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo                  0     1
Perfil
Padrão                      6561  1462    0.82146   0.726279           8023
Perfil_Churn_Alto            367   495    0.04595   0.245902            862
Perfil_Churn_Baixo          1059    56    0.13259   0.027819           1115

                   freq_total_rel     Churn
cliente_ativo
Perfil
Padrão                     0.8023  0.182226
Perfil_Churn_Alto          0.0862  0.574246
Perfil_Churn_Baixo         0.1115  0.050224

In [26]:
# Criando Tabela dinâmica para verificar o IV entre as variáveis categoria x Churn
df_gb_categoria.columns

MultiIndex([( 'cliente_ativo',  0),
            ( 'cliente_ativo',  1),
            (    'freq_rel_0', ''),
            (    'freq_rel_1', ''),
            ('freq_total_abs', ''),
            ('freq_total_rel', ''),
            (         'Churn', ''),
            (      'Variavel', '')],
           names=[None, 'cliente_ativo'])

In [143]:
# Criando coluna Taxa de clientes inativos (clientes inativos / total clientes) pra cada categoria
df_gb_categoria['Tx_Cliente_Inativo']=df_gb_categoria[( 'cliente_ativo',  1)]/df_gb_categoria[('freq_total_abs', '')]

In [27]:
# Criando coluna "ODDS"
df_gb_categoria['Odds']=df_gb_categoria[(    'freq_rel_0', '')]/df_gb_categoria[(    'freq_rel_1', '')]

In [28]:
# Criando coluna "LN ODDS"
df_gb_categoria['LNODDS']=np.log(df_gb_categoria['Odds'])

In [30]:
# Criar coluna IV
df_gb_categoria['IV']=(df_gb_categoria[(    'freq_rel_0', '')]-df_gb_categoria[(    'freq_rel_1', '')])*df_gb_categoria['LNODDS']

In [35]:
display(df_gb_categoria)
df_gb_categoria['IV'].sum()

               cliente_ativo       freq_rel_0 freq_rel_1 freq_total_abs  \
cliente_ativo              0     1
Qte_Categorias
1                       3689  1395   0.461876   0.692996           5084
2                       4247   343   0.531739   0.170392           4590
3                         49   217   0.006135   0.107799            266
4                          2    58   0.000250   0.028813             60

               freq_total_rel     Churn   Variavel      Odds    LNODDS  \
cliente_ativo
Qte_Categorias
1                      0.5084  0.274390  Categoria  0.666491 -0.405728
2                      0.4590  0.074728  Categoria  3.120673  1.138049
3                      0.0266  0.815789  Categoria  0.056911 -2.866266
4                      0.0060  0.966667  Categoria  0.008691 -4.745485

                      IV
cliente_ativo
Qte_Categorias
1               0.093772
2               0.411230
3               0.291397
4               0.135542

0.9319409437771617

In [ ]:
# Posso fazer essa análise do IV (verificar a força de separação que uma variável qualitativa possui sobre outra).